:host {
  h1 {
    color: #b11226;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.7;
  }

  em {
    color: #2e7d32;
    font-style: italic;
  }

  strong {
    color: #b11226;
  }
}